* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    width: 100vw;
    display: block;
}

.top-infocard {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-infocard-text {
    max-width: 766px;
    margin-top: 65px;
    margin-right: 750px;
    margin-left: 750px;
}

.top-infocard-image {
    margin-top: 65px;
    margin-right: 250px;
    margin-left: 250px;
}
.top-infocard-subtittle {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}

.top-infocard-title {
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
}

.top-infocard-description {
    line-height: 24px;
    font-size: 16px;
}

.top-cards {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0;
    background: #ffff
}

.top-card  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
    background: #ffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
}

.top-card-description  {
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.middle-banners {
    width: 100vw;
    height: 490px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    background-color: #E0E0E0;
}
.middle-banners-image {
    width: 480px;
    height: 500px;
}

.middle-banners-images {
    margin: 30px 25px 0 25px;
}

.middle-banners-image.middle {
    margin: 0 15px;
}

.bottom-cards{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0;
    background: #ffff
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
    background: #ffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.bottom-card-image {
    display: block;
}

.bottom-card-text {
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.bottom-infocard {
    width:100vw;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 100px;
}

.bottom-infocard-title {
    text-align: center;
    margin-bottom: 34px;
    height: 20px;
    font-size: 24px;
    font-weight: 400;
}

.bottom-infocard-description {
    text-align: center;
}

.banner-bottom-image {
    width: 1360px;
    height: 276px;
    margin-top: 32px;
    padding-left: 259px;
    align-content: center;
}

.page-footer {
    margin-top: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding: 36px 0;
}

.footer-icoms {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon {
    margin-bottom: 16px;
}

.footer-text {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}

@media screen and (max-width: 414px) {
    .main-banner-desktop, .middle-banners-image-desktop, .banner-bottom-image-desktop, .wrapper-bottom-infocard-desktop {
        display: none;
    } 
}

@media screen and (min-width: 415px) {
    .main-banner-mobile, .middle-banners-image-mobile, .banner-bottom-image-mobile, .wrapper-bottom-infocard-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .top-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px;
        display: block;
    }

    .bottom-cards {
         grid-template-columns: 1fr;
    }
}

@media  screen and (max-width: 992px) {
    .top-infocard {
        flex-direction: column;
        padding: 84px 26px 84px;
    }

    .top-infocard-text {
        margin: 0 0 68px;
    }

    .top-infocard-subtittle {
        font-size: 20px;
    }

    .top-infocard-title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .top-infocard-description {
        position: absolute;
        width: 357px;
        left: 31px;
        top: 851px;
        text-align: center;
    }

    .top-infocard-image {
        max-width: 240px;
        padding-top: 87px;
    }

    .middle-banners-image {
        width: 200px;
        height: 200px;

    }

    .middle-banners-images {
        margin: 0;
        padding: 3px;
    }

    .middle-banners-image.big {
        width: 402px;
        height: 400px;
    }

    .bottom-infocard-title {
        font-weight: 600;
        font-size: 20px;
        width: 407px;
    }

    .bottom-infocard-description {
         margin-top: 36px;
         font-size: 16px;
         line-height: 24px;
    }

    .banner-bottom-image {
        width: 414px;
        height: 414px;
        padding-left: 0;
    }

    .page-footer {
        height: 414px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .top-infocard-text {
        max-width: 520px;
        margin-right: 70px;
    }    
}

@media screen and (min-width: 763px) and (max-width: 1200px) {
    .top-cards {
        grid-template-columns:repeat(2, max-content);
        padding: 36px 26px;
    }
}


